@import 'variables';
@import 'components/all';
@import 'media-queries';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #6a6a6a;
  background-color: #1e1e1e;
  font-weight: 400;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

.wrapper {
  background-color: #eff2f1;
  max-width: $max-width-wrapper;
  margin: 0 auto;
}

.container {
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}

////////////////-------------------

.btn {
  align-self: flex-start;

  &__item {
    display: block;
    min-width: 132px;
    height: 50px;
    border-radius: 30px;
    padding-top: 9px;
    border: 2px solid #2f2f2f;

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    background: #2f2f2f;
  }
  &:hover {
    opacity: 0.8;
  }
}

/////////////////
