@import '../variables';

.testimonials {
  &__body {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  &__title {
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #2f2f2f;
    padding-bottom: 47px;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__left,
  &__right {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    border-radius: 29px;
    background: rgba(#385d50, 0.1);

    &:hover {
      background-color: rgba(#385d50, 1);
    }
  }
  &__right {
    img {
      transform: rotate(180deg);
    }
  }
  &__dots {
    text-align: center;
    span {
      display: inline-block;
      border-radius: 50%;
      margin: 6px;
      width: 7px;
      height: 7px;
      background-color: #d9d9d9;
      &:hover {
        background-color: #385d50;
        border: 1px solid #000;
      }
    }
    &--active {
      background-color: #385d50 !important;
    }
  }
}

.testimonial {
  &__body {
    text-align: center;
    margin-bottom: 43px;
  }
  &__text {
    max-width: 759px;
    padding-bottom: 43px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #000000;

    &::before {
      content: '‘’';
      font-size: 18px;
    }
    &::after {
      content: '’’';
      font-size: 18px;
    }
  }
  &__foto {
    margin-bottom: 13px;
    img {
      width: 77px;
      height: 77px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  &__name {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }
  &__role {
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    color: #2f2f2f;
  }
}
